.wrap-graph {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 15%;
    position: relative;
}

.wrap-graph>div {
    display: flex;
}

.cell {
    width: 1.5rem;
    height: 1.5rem;
    margin: 3px;
    border: 1px solid rgba(61, 61, 61, 0.541);
    cursor: pointer;
}

.cell-node {
    background-color: rgb(116, 0, 161);
}

.cell-zero {
    background-color: rgba(197, 197, 197, 0.61);
}