.wrap-profile {
    position: relative;
    height: 100%;
}

.profile__header {
    height: 25%;
    display: flex;
    padding-left: 30%;
    padding-bottom: 0.5rem;
    align-items: flex-end;
    background-color: rgb(132, 147, 189);
    position: relative;
}

.profile__foto {
    width: 20%;
    position: absolute;
    top: 30%;
    left: 5%;
    border: 3px solid white;
}

.profile__main {
    display: flex;
    height: 75%;
}

.profile__contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 20%;
    font-weight: 300;
    padding: 10% 0;
    height: 100%;
    margin-left: 5%;
}

.contacts-block {
    min-width: 100%;
}

.profile__links>li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
}

.profile__links>li:hover {
    font-weight: 400;
}

.profile__contacts img {
    width: 1rem;
}

.profile__content {
    display: flex;
    height: 100%;
    background-color: rgb(204, 204, 204);
}