.wrap-profile {
    position: relative;
    height: 100%;
}

.profile__header {
    height: 25%;
    display: flex;
    padding-left: 30%;
    padding-bottom: 0.5rem;
    align-items: flex-end;
    background-color: rgb(132, 147, 189);
    position: relative;
}

.profile__foto {
    width: 20%;
    position: absolute;
    top: 30%;
    left: 5%;
    border: 3px solid white;
}

.profile__main {
    display: flex;
    height: 75%;
}

.profile__contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 20%;
    font-weight: 300;
    padding: 10% 0;
    height: 100%;
    margin-left: 5%;
}

.contacts-block {
    min-width: 100%;
}

.profile__links>li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
}

.profile__links>li:hover {
    font-weight: 400;
}

.profile__contacts img {
    width: 1rem;
}

.profile__content {
    height: 100%;
    width: 75%;
}

.profile__about {
    padding: 3rem 0 0 2rem;
}

.profile__content p {
    padding: 1rem 2.5rem;
    font-weight: 300;
}

.profile__info {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem 2rem;
}

.profile__btn {
    font-weight: 400;
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
    outline: none;
    border: none;
    cursor: pointer;
}

.profile__btn:hover {
    background-color: rgba(132, 147, 189, 0.5);
    transform: scale(1.03);
    transition: 0.2s;
}