.wrap-calc {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 3rem;
}

.calc {
    width: 26rem;
    height: 27rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 2.3fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.2rem;
    grid-template-areas: 'c c c c c '
     'disp disp disp disp disp'
     'sbl sbl sbl oper oper'
     'sbl sbl sbl oper oper'
     'sbl sbl sbl oper oper'
     'sbl sbl sbl oper oper';
    background-color: rgba(255,255,255, 0.1);
    box-shadow: 0px 25px 45px rgba(0,0,0,0.2);
    border: 1px solid rgba(255,255,255, 0.25);
    border-bottom: 1px solid rgba(255,255,255, 0.1);
    border-right: 1px solid rgba(255,255,255, 0.1);
    border-radius: 3px;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
   
}

.calc__lable {
    grid-area: c;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0.2rem;
    padding-right: 0.5rem;
}

.calc__lable>div {
    padding: 0.2rem 0.5rem;
}

.calc__lable>div::before {
    content: '###';
    padding-right: 0.5rem;
    color: rgb(53, 0, 83);
    font-weight: 700;
}

.calc__display {
    grid-area: disp;
    display: grid;
    grid-template-rows: 1fr 2fr;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 3px;
    padding: 0.3rem;
}

.display_1, .display_2 {
    padding: 0.2rem 0.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-family: 'Chakra Petch', sans-serif;
    background-color: rgb(196, 196, 196);
}

.display_2 {
    font-size: 2.3rem;
    font-weight: 400;
}

.display_1 {
    font-style: italic;
}

.calc__symbol-bar {
    padding: 0.2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 0.2rem;
    grid-area: sbl;
}

.calc__operating-bar {
    padding: 0.2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 0.2rem;
    grid-area: oper;
    
}

.bar_bg {
    background-color: rgba(255,255,255, 0.1);
    box-shadow: 0px 25px 45px rgba(0,0,0,0.2);
    border: 1px solid rgba(255,255,255, 0.25);
    border-bottom: 1px solid rgba(255,255,255, 0.1);
    border-right: 1px solid rgba(255,255,255, 0.1);
    border-radius: 3px;
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
}

.calc__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 1.5rem;
    cursor: pointer;
} 

.calc__btn span {
    z-index: 2;
    pointer-events: none;
}

.calc__btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    pointer-events: none;
}
