.header {
    width: 100vw;
    background-color: white;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 10%;
}

.container {
    background-color: rgba(248, 248, 248, 0.9);
    width: 100%;
}


.container_op {
    background-color: rgba(248, 248, 248, 0);
    width: 100%;
}

.container__head {
    width: 100%;
    height: 2rem;
    background-color: rgb(132, 147, 189);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(31, 31, 31);
}

.header__logo {
    color: rgb(90, 90, 90);
}

.content {
    grid-area: content;
}

.content-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(248, 248, 248);
    position: absolute;
    top: 0;
    left: 0;
}

.content-header__title {
    padding: 0.9rem 1.5rem;
    width: 100%;
    text-align: center;
}

.content-header::after,
.content-header::before {
    content: '';
    margin-top: 1rem;
    height: 2px;
    width: 100%;
    background-color: rgb(132, 147, 189);
}

.info-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;

}

.info-bar__info {
    grid-area: info;
    display: flex;
    flex-direction: column;
}

.project {
    grid-area: project;
    display: flex;
    flex-direction: column;
}

.project__bar {
    padding-top: 2rem;
}

.project__link {
    display: block;
    padding: 0.8rem 1.6rem;
    font-weight: 300;
}

.project__link:hover {
    background-color: rgba(132, 147, 189, 0.5);
}

.project__bar .active {
    padding-left: 1.5rem;
    border-left: 0.1rem solid rgba(132, 147, 189);
    box-shadow: 25px 0 20px -20px rgba(132, 147, 189) inset
}

.info-bar__link {
    grid-area: link-bar;
    display: flex;
    flex-direction: column;
}

.info-bar__link img, .info-bar__info img {
    width: 40%;
}

.info-bar__link img:hover, .info-bar__info img:hover{
    cursor: pointer;
    display: block;
    transform: scale(1.5);
}

